@page
@model DBExampleModel
@{
    ViewData["Title"] = "Turnkey ASP.NET Core";
}

<div class="text-center">
    <h2>Data here is loaded from MySQL</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExampleThing!.First().Title!)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExampleThing!.First().Data)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExampleThing!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
        </tr>
}
    </tbody>
</table>
