@page
@model IndexModel
@{
    ViewData["Title"] = "Turnkey ASP.NET Core";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    </div>
    
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <a href='https://@ViewData["Host"]:12321'>
                    <h4 class="my-0 font-weight-normal">Webmin</h4>
                </a>
            </div>
            <div class="card-body">
                <img src="~/images/webmin.png"/>
                <p>Control and configure this appliance with webmin</p>
            </div>
        </div>
    </div>
    <div class="list-group">
        <a href="https://docs.microsoft.com/aspnet/core" class="list-group-item list-group-item-action">Microsoft ASP.NET Core Documentation</a>
        <a href="https://www.turnkeylinux.org/asp-net-core" class="list-group-item list-group-item-action">Turnkey appliance release notes</a>
    </div>
</div>
